body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f0f2f0, #000000);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    }
    .container__content{
        padding: 50px;
    }
    .container__content-title{
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
    }
    .container-data{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 50px;
    }

    .container__content-text{
        text-align: center;
        margin: 50px;}
    .container__content-text a{
        text-decoration: none;
        color: black;
        font-size: 30px;
        font-weight: 700;
    }
    .container__content-text a:hover{
        font-weight: 750;
        color: blue;
    }
    span{
        color: crimson;
    }   

.carousel-item {
    transition: transform 2s ease;
    }
    
    .carousel-item-next,
    .carousel-item-prev,
    .carousel-item.active {
    transform: translateX(0);
    }
    
    .carousel-item-next,
    .carousel-item-prev {
    transform: translateX(100%);
    }