<html>
<head>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style2.css">
</head>
<body>
    <div class="container">
        <div class="container__content">
            <div class="container__content-title">
                <h1>404</h1>
                
            </div>
            <div class="container-data"><h2>Sorry No <span>School</span> Here!</h2></div>
            <div class="container__content-text">
                <h2><a href="/">Return to home</a></h2>
                
            </div>
                
        </div>
    </div>
</html>