<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/styles1.css">
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
    <title>Register</title>
</head>
<body>

    <form action="{{ url_for('register') }}" method="post">
        <div class="container">
            <h1>Register</h1>
            <label for="id">Student Id</label>
            <input type="text" placeholder="Enter Student Id" name="id" id="id" value="{{ request.form['id'] }}" required>
            <br>
            <label for="First name"><b>First name</b></label>
            <input type="text" placeholder="Enter First name" name="first_name" id="first_name" value="{{ request.form['first_name'] }}" required>
             <br>   
            <label for="Middle name"><b>Middle name</b></label>
            <input type="text" placeholder="Enter Middle name" name="middle_name" id="middle_name" value="{{ request.form['middle_name'] }}" required>
                <br>
            <label for="Last name"><b>Last name</b></label>
            <input type="text" placeholder="Enter Last name" name="last_name" id="last_name" value="{{ request.form['last_name'] }}" required>
            <br>
            <label for="gender"><b>Gender</b></label>
            <select name="gender" id="gender" value="{{ request.form['gender'] }}">
                <option value="female">Male</option>
                <option value="male">Female</option>
            </select>
            <label for="Grade"><b>Grade</b></label>
            <input type="number" name="grade" id="grade" min="9" max="12" value="{{ request.form['grade'] }}">
            <br>
            <button type="submit" class="registerbtn">Register</button>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
    
        <p>{{ message }}</p>
    
        {% endfor %}
        {% endif %}
        {% endwith %}
        
    </div>
        
        <div class="container terms">
            
            <p>By registering you agree to our school <a href="#">Terms & Privacy</a>.</p>
        </div>
    </form>
</body>
</html>