body{
    padding: 0;
    margin: 0;
    background-image: url(../img/istockphoto-1485281045-1024x1024.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    height: 100vh;

}
form{
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #680b0b;
    border-radius: 5px;
    color: crimson;
    background-color: transparent;

}
.container {
    border: 1px solid crimson;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;}
.container label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  padding: 10px;
  color: black;
}
.gender{
    font-weight: 800;}
.container input[type=text], .container input[type=number], .container select {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 16px;
    background-color: #ccc;
    
}
.container input[type=text]:focus, .container input[type=number]:focus, .container select:focus {
  background-color: #ddd;
  outline: none;
}
.container input[type=text]::placeholder, .container input[type=number]::placeholder, .container select::placeholder{ 
    color: black;
  }
.container button{
    background-color: crimson;
    border-radius: 16px;
  color: white;
  padding: 20px;
  border: none;
  cursor: pointer;
}
.container button:hover {
  background-color: #45a049;
}