#nav{
    align-items: center;
    position: relative;
    left: 60px;
    padding: 10px;
}
#nav li a{
    text-decoration: none;
    display: inline;
    padding: 20px;
}

.section{
     background-color: darkblue;
     opacity: 0.8;
}