#nav{
    align-items: center;
    position: relative;
    left: 60px;
    padding: 10px;
}
#nav li a{
    text-decoration: none;
    display: inline;
    padding: 20px;
}

<<<<<<< HEAD
.section{
     background-color: darkblue;
     opacity: 0.8;
}
=======


@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.gradient-background {
    background: linear-gradient(315deg, #0B273F, #163A4E, #2C3639, #6B4B33, #7F5C34, #61A0D6);
    background-size: 300% 300%;
    animation: gradient-animation 15s ease infinite;
}


>>>>>>> 4718001f939e5ba9bc962f24cdeb06c85a004d21
